/* EDIT GTK: `env GTK_DEBUG=interactive waybar` */

* {
  border: none;
  font-family:"FiraMono Nerd Font Propo";
  font-size: 11px;
  font-weight:bold;
  color: #f0f0f0;
  /* background-color: rgba(0, 0, 0, 0);*/
  /* background: rgba(45, 45, 45, 0.8); */
  border-radius:4px;
  padding:0px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.3);
}

#workspaces button.active, button.focused {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.urgent {
    background: rgba(255, 0, 0, 0.5);
}

.modules-right {
	background-color: rgba(0,43,51,0.85);
  margin: 2px 0 0 0;
}
.modules-center {
	background-color: rgba(0,43,51,0.85);
  margin: 2px 0 0 0;
  padding: 0 4px;
}
.modules-left {
  margin: 2px 0 0 0;
  padding: 0;
	background-color: rgba(0,43,51,0.85);
}

label.module {
  margin: 0px 2px;
  padding: 0px 6px;
  /* background-color: rgba(0,83,51,0.85) */
}

tooltip * {
  color: white;
  background-color: rgba(0,23,31,0.85);
  text-shadow: none;
}

#tray menu {
    background-color: rgba(0,23,31,0.85)
}