@import "~/.cache/wal/colors-rofi-dark"

* {
    border-color: @active-background;
}

window {
    border: 2px;
}

element.selected {
    border: 1px;
    padding: 2px;
}

element.selected.normal {
    background-color: #00000000;
}
    
