}

.clickable-icon:hover, .clickable-icon:hover svg, .is-focused .titlebar-inner {
	color: #ffffff05
}

/* File picker: Make current file purple! */
body:not(.is-grabbing) .nav-file-title.is-active:hover, body:not(.is-grabbing) .nav-folder-title.is-active:hover, .nav-file-title.is-active, .nav-folder-title.is-active {
	color: #ffffff05
}

select,
.dropdown {
  background-color: #ffffff05
}

select,
.dropdown:hover {
  background-color: #ffffff05
}


/* @settings
name: Aura Version
id: aura-theme-settings
settings:
  -
    id: aura-theme-dark
    title: Softness
    description: Select your preferred Aura variation
    type: class-select
    allowEmpty: false
    default: aura-dark
    options:
      -
        label: Aura Dark
        value: aura-dark
      -
        label: Aura Soft Dark 
        value: aura-soft
*/
